  
<h2><%= @post.title %></h2>
<div class="clearfix">
  <p class="pull-left">By <%= @post.author %></p>
  <p class="pull-right"><%= format_date(@post.created_at) %></p>
</div>
<% if post_owner(@post) %>
  <p><%= link_to "Edit", edit_post_path(@post) %></p>
<% end %>
<%= simple_format(@post.body) %>
<hr>

<h4>Discussion</h4>
<% @comments.each do |comment| %>
<p><b><%= comment.author %> </b><span class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</span></p>
<p><%= comment.body %> </p>
<hr>
<% end %>


<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_area :body, size: "24x6", class: 'form-control', required: true, placeholder: 'Add comment' %>
  <%= f.hidden_field :post_id, { :value => @post.id } %>
  <%= f.button "Add", class: "btn btn-primary" %>
<% end %>
